.main_10 {
    position: absolute;
    top: -150px;
    left: 280px;
    display: flex;
}

.main_9 {
    position: absolute;
    bottom: -170px;
    left: 0;
    display: flex;
    align-items: center;
}

.box_12 {
    width: 292px;
    height: 292px;
    flex-shrink: 0;
    border-radius: 292px;
    opacity: 0.3089;
    background: linear-gradient(90deg, rgba(93, 2, 2, 0.00) 0%, rgba(93, 2, 2, 0.50) 100%);
}

.box_13 {
    width: 292px;
    height: 292px;
    flex-shrink: 0;
    border-radius: 292px;
    opacity: 0.3089;
    background: linear-gradient(90deg, rgba(93, 2, 2, 0.00) 0%, rgba(93, 2, 2, 0.50) 100%);
}

.box_14 {
    width: 292px;
    height: 292px;
    flex-shrink: 0;
    border-radius: 292px;
    opacity: 0.3089;
    background: linear-gradient(90deg, rgba(93, 2, 2, 0.00) 0%, rgba(93, 2, 2, 0.50) 100%);
}

.box_15 {
    width: 292px;
    height: 292px;
    flex-shrink: 0;
    border-radius: 292px;
    opacity: 0.3089;
    background: linear-gradient(90deg, rgba(93, 2, 2, 0.00) 0%, rgba(93, 2, 2, 0.50) 100%);
}

.box_16 {
    width: 292px;
    height: 292px;
    flex-shrink: 0;
    border-radius: 292px;
    opacity: 0.3089;
    background: linear-gradient(90deg, rgba(93, 2, 2, 0.00) 0%, rgba(93, 2, 2, 0.50) 100%);
}